doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/fa/font-awesome.css')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/io/socket.io.js')
    script(src='/js/ships.js')
  body
    if (isAuthenticated)
      script.
        me="#{user.name}"
      include _main
